@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jaya Saputra Karoseri App</h1>
</div>

<br>

<div class="d-flex">
    <div class="col-6 flex-column d-flex gap-3">
        <button class="btn btn-outline-dark mx-auto w-50">Buat Slip Gaji</button>
        <button class="btn btn-outline-dark mx-auto w-50">Buat Penawaran Harga</button>
        <a asp-controller="SKRB" asp-action="ExportToPDF" class="btn btn-outline-dark mx-auto w-50">Buat SKRB</a>
    </div>
    <div class="col-6">Image</div>
</div>