@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jaya Saputra Karoseri App</h1>
</div>

<br>

<div class="d-flex">
    <div class="col-lg-6 flex-column d-flex gap-3">
        <div class="col-lg-6 col-12">
            <button type="button" class="btn btn-outline-light btn-theme w-100 mb-3">Buat Slip Gaji</button>
            <button type="button" class="btn btn-outline-light btn-theme w-100 mb-3">Buat Penawaran Harga</button>
            <a asp-controller="SKRB" asp-action="Buat" class="btn btn-outline-light btn-theme w-100 mb-3">Buat SKRB</a>
        </div>
    </div>
    <div class="col-lg-6"></div>
</div>
